<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python311\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
